* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  left: -99999px;
  visibility: hidden;
  /*указание браузеру скрыть элемент, зарезервировав под него место на веб-странице */
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.center {
  padding: 0 calc(50% - 1140px / 2);
}

.header {
  background-color: black;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: 40px;
  }

  .face,
  .basket {
    margin-left: 20px;
  }
}

.promo {
  background-color: #f1e4e6;

  &-wrap {
    height: 764px;
    display: flex;
    align-items: center;
    position: relative;

    .promo-men {
      margin-left: -230px;
    }
    .promo-text {
      position: absolute;
      margin-left: 55.6%;
      border-left: 12px solid #f16d7f;
      padding-left: 17px;

      &-title {
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
      }
      &-conteiner {
        display: flex;
        &-of {
          font-family: Lato;
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 44px;
        }
        &-fashion {
          font-family: Lato;
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          line-height: 44px;
          color: #f16d7f;
          margin-left: 5px;
        }
      }
    }
  }
}

.categories {
  padding: 65px 0;

  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .category-woman {
    height: 260px;
    width: 360px;
    background-color: #5e5d5d;
    background-image: url(/img/women.png);

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.8s;

    &:hover {
      transform: scale(1.05);
    }
  }

  .category-men {
    height: 260px;
    width: 360px;
    background-color: #5e5d5d;
    background-image: url(/img/men.png);
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      transform: scale(1.05);
    }
  }
  .category-kids {
    height: 260px;
    width: 360px;
    background-color: #5e5d5d;
    background-image: url(/img/kids.png);
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      transform: scale(1.05);
    }
  }

  .category-accesories {
    margin: 30px 0 0 0;
    height: 180px;
    width: 100%;
    background-color: #5e5d5d;
    background-image: url(/img/ACCESORIES.png);
    background-repeat: no-repeat;
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      transform: scale(1.05);
    }
  }

  .category-title {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #f1e4e6;
  }

  .category-title-title {
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    color: #f16d7f;
    text-decoration: none;
  }
}

.products {
  &-title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
  &-text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    text-align: center;
    padding-bottom: 48px;
  }
  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-btn {
    border: 1px solid #ff6a6a;
    padding: 10px;
    text-decoration: none;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #ff6a6a;
    width: 212px;
    text-align: center;
    margin: 48px auto;
    transition: 0.8s;
    &:hover {
      transform: scale(1.05);
      background-color: #f26376;
      color: #ffffff;
    }
  }
}

.product {
  &-card {
    width: 360px;
    background-color: #f8f8f8;
    margin-bottom: 30px;
    position: relative;
    transition: 0.8s;
    &:hover {
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
      transform: scale(1.05);
    }
  }

  &-img {
    width: 100%;
  }
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 420px;
    background-color: rgba(58, 56, 56, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    &:hover {
      opacity: 1;
    }

    &-btn {
      width: 139px;
      height: 44px;
      border: 1px solid white;
      background-color: rgba(58, 56, 56, 0.83);
      display: flex;
      align-items: center;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: white;

      &-basket {
        margin: 11px;
      }
    }
  }

  &-description {
    padding: 0 18px;
  }

  &-head {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    padding-top: 24px;
  }
  &-detail {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    padding-top: 12px;
  }

  &-price {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    padding: 18px 0;
  }
}

.feature {
  background-color: black;

  &-wrap {
    display: flex;
    justify-content: space-between;
  }
  &-info {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 103px 0px;

    &-link {
      height: 69px;
    }

    &-title {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 19.96px;
      line-height: 24px;
      color: #fbfbfb;
    }
    &-delivery {
      width: 360px;
      font-family: Lato;
      font-style: normal;
      font-weight: 300;
      font-size: 13.972px;
      line-height: 17px;
      text-align: center;
      color: #fbfbfb;
      margin-top: 16px;
    }
  }
}

.subscription {
  background: center;
  background-color: rgb(201, 206, 192);
  background-image: url(/img/Layer41.png);
  background-size: cover;
  background-repeat: no-repeat;

  &-wrap {
    height: 448px;
    display: flex;
    justify-content: space-between;
  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0;
    padding: 0 11px;
    &-vestibulum {
      text-align: center;
      font-family: Lato;
      font-style: italic;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #222224;
      margin: 30px 0;
    }
  }

  &-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px 100px;

    &-title {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
    }
    &-new {
      font-family: Lato;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      margin-top: 16px;
    }
    &-email {
      width: 356px;
      display: flex;
      margin-top: 34px;
      &-field {
        width: 256px;
        height: 49px;
        border: none;
        background-color: #e1e1e1;
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
        padding-left: 23px;
      }

      &-field::placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #222224;
      }

      &-btn {
        width: 100px;
        height: 49px;
        color: #ffffff;
        background-color: #f16d7f;
        border: none;
        font-family: Lato;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
        cursor: pointer;
        &:hover {
          background-color: #e05c6e;
        }
      }
    }
  }
}

.footer {
  background-color: #000000;
  &-wrap {
    height: 79px;
    display: flex;
    justify-content: space-between;
  }
  &-brand {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    display: flex;
    align-items: center;
  }
  &-social {
    width: 147.66px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-icon {
      font-size: 20px;
      width: 32px;
      height: 32px;
      color: #000000;
      background-color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      &:hover {
        color: #ffffff;
        background-color: #f16d7f;
      }
    }
  }
}
@import "blocks/mediatablet";

/* Стили для страницы каталога */

@import "blocks/catalog";

@import "blocks/produkt";



