@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  left: -99999px;
  visibility: hidden;
  /*указание браузеру скрыть элемент, зарезервировав под него место на веб-странице */
}

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.center {
  padding: 0 calc(50% - 1140px / 2);
}

.header {
  background-color: black;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  margin-right: 40px;
}

.header .face,
.header .basket {
  margin-left: 20px;
}

.promo {
  background-color: #f1e4e6;
}

.promo-wrap {
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.promo-wrap .promo-men {
  margin-left: -230px;
}

.promo-wrap .promo-text {
  position: absolute;
  margin-left: 55.6%;
  border-left: 12px solid #f16d7f;
  padding-left: 17px;
}

.promo-wrap .promo-text-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.promo-wrap .promo-text-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo-wrap .promo-text-conteiner-of {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
}

.promo-wrap .promo-text-conteiner-fashion {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #f16d7f;
  margin-left: 5px;
}

.categories {
  padding: 65px 0;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories .category-woman {
  height: 260px;
  width: 360px;
  background-color: #5e5d5d;
  background-image: url(/img/women.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.categories .category-woman:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.categories .category-men {
  height: 260px;
  width: 360px;
  background-color: #5e5d5d;
  background-image: url(/img/men.png);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories .category-men:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.categories .category-kids {
  height: 260px;
  width: 360px;
  background-color: #5e5d5d;
  background-image: url(/img/kids.png);
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories .category-kids:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.categories .category-accesories {
  margin: 30px 0 0 0;
  height: 180px;
  width: 100%;
  background-color: #5e5d5d;
  background-image: url(/img/ACCESORIES.png);
  background-repeat: no-repeat;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories .category-accesories:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.categories .category-title {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #f1e4e6;
}

.categories .category-title-title {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
  text-decoration: none;
}

.products-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.products-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  padding-bottom: 48px;
}

.products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-btn {
  border: 1px solid #ff6a6a;
  padding: 10px;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ff6a6a;
  width: 212px;
  text-align: center;
  margin: 48px auto;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.products-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #f26376;
  color: #ffffff;
}

.product-card {
  width: 360px;
  background-color: #f8f8f8;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.product-card:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.product-img {
  width: 100%;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product-overlay:hover {
  opacity: 1;
}

.product-overlay-btn {
  width: 139px;
  height: 44px;
  border: 1px solid white;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
}

.product-overlay-btn-basket {
  margin: 11px;
}

.product-description {
  padding: 0 18px;
}

.product-head {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding-top: 24px;
}

.product-detail {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-top: 12px;
}

.product-price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  padding: 18px 0;
}

.feature {
  background-color: black;
}

.feature-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-info {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 103px 0px;
}

.feature-info-link {
  height: 69px;
}

.feature-info-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.feature-info-delivery {
  width: 360px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  margin-top: 16px;
}

.subscription {
  background: center;
  background-color: #c9cec0;
  background-image: url(/img/Layer41.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscription-wrap {
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 0;
  padding: 0 11px;
}

.subscription-info-vestibulum {
  text-align: center;
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin: 30px 0;
}

.subscription-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 150px 100px;
}

.subscription-subscribe-title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.subscription-subscribe-new {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-top: 16px;
}

.subscription-subscribe-email {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 34px;
}

.subscription-subscribe-email-field {
  width: 256px;
  height: 49px;
  border: none;
  background-color: #e1e1e1;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  padding-left: 23px;
}

.subscription-subscribe-email-field::-webkit-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}

.subscription-subscribe-email-field:-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}

.subscription-subscribe-email-field::-ms-input-placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}

.subscription-subscribe-email-field::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #222224;
}

.subscription-subscribe-email-btn {
  width: 100px;
  height: 49px;
  color: #ffffff;
  background-color: #f16d7f;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  cursor: pointer;
}

.subscription-subscribe-email-btn:hover {
  background-color: #e05c6e;
}

.footer {
  background-color: #000000;
}

.footer-wrap {
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-brand {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social {
  width: 147.66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social-icon {
  font-size: 20px;
  width: 32px;
  height: 32px;
  color: #000000;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer-social-icon:hover {
  color: #ffffff;
  background-color: #f16d7f;
}

@media (max-width: 1180px) {
  .wrap {
    max-width: calc(768px - 16px * 2);
    margin: 0 auto;
  }
  .promo-wrap {
    height: 367px;
  }
  .promo-wrap .promo-men {
    margin: 0px !important;
  }
  .promo .promo-text-title {
    font-size: 44px !important;
    line-height: 52px !important;
  }
  .promo .promo-text-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo .promo-text-conteiner-of {
    font-size: 24px !important;
    line-height: 28px !important;
  }
  .promo .promo-text-conteiner-fashion {
    font-size: 24px !important;
    line-height: 28px !important;
  }
  .categories {
    padding: 20px 0 154px 0;
  }
  .categories .category-woman {
    height: 167px;
    width: 232px;
    background-image: url(/img/women768.png);
  }
  .categories .category-men {
    height: 167px;
    width: 232px;
    background-image: url(/img/men768.png);
  }
  .categories .category-kids {
    height: 167px;
    width: 232px;
    background-image: url(/img/kids768.png);
  }
  .categories .category-accesories {
    margin: 20px 0 0 0;
    height: 116px;
    width: 100%;
    background-image: url(/img/ACCESORIES768.png);
  }
  .product-card {
    margin: 0 0 18px 0;
  }
  #product-card-media {
    display: none;
  }
  .feature-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px 0 0 0;
  }
  .feature-info {
    margin: 0 0 48px 0;
  }
  .subscription-wrap {
    height: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscription-info {
    margin: 64px 0 48px 0;
  }
  .subscription-subscribe {
    margin: 0 0 140px 0;
  }
  .footer-wrap {
    padding: 0 32px;
  }
  .filter-right {
    margin-left: 385px !important;
  }
}

@media (max-width: 800px) {
  .wrap {
    max-width: calc(375px - 16px * 2);
    margin: 0 auto;
  }
  .promo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo-men {
    display: none;
  }
  .promo .promo-text {
    margin: 0 auto;
  }
  .promo .promo-text-title {
    font-size: 38px !important;
    line-height: 45px !important;
  }
  .promo .promo-text-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .promo .promo-text-conteiner-of {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .promo .promo-text-conteiner-fashion {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .description-line {
    width: 175px !important;
  }
  .description-filter-sort {
    font-size: 10px;
    line-height: 12px;
  }
  #product-card-media {
    display: none;
  }
  .categories {
    padding: 64px 0 64px 0;
  }
  .categories .category-woman {
    height: 247px;
    width: 343px;
    background-image: url(/img/women375.png);
  }
  .categories .category-men {
    margin: 32px 0 0 0;
    height: 247px;
    width: 343px;
    background-image: url(/img/men375.png);
  }
  .categories .category-kids {
    margin: 32px 0 0 0;
    height: 247px;
    width: 343px;
    background-image: url(/img/kids375.png);
  }
  .categories .category-accesories {
    margin: 32px 0 0 0;
    height: 111px;
    width: 100%;
  }
  .subscription-wrap {
    height: 550px;
  }
  .subscription-info {
    margin: 64px 0 0 0;
  }
  .subscription-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 57px 0 111px 0;
  }
  .subscription-subscribe-title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
  }
  .subscription-subscribe-new {
    font-size: 14px;
    margin-top: 11px;
  }
  .subscription-subscribe-email {
    width: 341px;
    margin-top: 27px;
  }
  .subscription-subscribe-email-field {
    width: 245px;
  }
  .footer-wrap {
    height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: column-reverse;
        flex-flow: column-reverse;
  }
  .footer-social {
    margin: 43px 0 40px 0;
  }
  .footer-brand {
    margin: 0 0 9px 0;
  }
  .filter-text {
    margin: 0;
  }
  .filter-right {
    margin-left: 385px !important;
  }
  .breadcrumb-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .breadcrumb-left {
    margin: 0 0 32px 0;
  }
}

/* Стили для страницы каталога */
.breadcrumb {
  background-color: #f8f3f4;
}

.breadcrumb-wrap {
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 9px;
}

.breadcrumb-left-new {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumb-right-home {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-decoration: none;
}

.breadcrumb-right-arrivals {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #f16d7f;
}

.filter-wrap {
  margin-top: 51px;
  margin-bottom: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.filter .filter-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.filter .filter-text-img {
  margin: 0 11px;
}

.filter-left {
  position: absolute;
  z-index: +2;
}

.filter-left-menu {
  background-color: #ffffff;
  width: 360px;
  left: 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-left-menu-conteiner {
  color: #ef5b70;
}

.filter-left-menu-conteiner-title {
  height: 37px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px;
}

.filter-left-menu-conteiner-title-list {
  margin: 24px 0 24px 0;
  list-style-type: none;
}

.filter-left-menu-conteiner-title-list-item {
  margin-left: 33px;
  margin-top: 11px;
}

.filter-left-menu-conteiner-title-list-link {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-decoration: none;
}

.filter-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: +2;
  margin-left: 34.1%;
}

.filter-right-trending {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 18px;
}

.filter-right-trending-vector {
  height: 6px;
  width: 22px;
  margin-top: 7px;
  padding-left: 11px;
}

.filter-right-size-product {
  width: 79px;
  background-color: #ffffff;
}

.filter-right-size-product-size {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9px;
}

.filter-right-size-product-size-vector {
  height: 6px;
  width: 22px;
  margin-top: 7px;
  padding-left: 11px;
}

.filter-right-size-product-box {
  padding: 7px 0 11px 9px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-right-size-product-box-check {
  margin: 0 0 6px 0;
}

.filter-right-product-box {
  margin: 20px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter-right-prise {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 29px;
}

.filter-right-prise-vector {
  height: 6px;
  width: 22px;
  margin-top: 7px;
  padding-left: 11px;
}

.filter summary {
  display: block;
  list-style: none;
}

.pagination-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px 0 96px 0;
}

.pagination-list {
  width: 283px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  padding: 15px;
}

.pagination-list-page-link {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
}

.pagination-list-page-link:hover {
  color: #ef5b70;
}

.slider-women {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border: 1px solid #eaeaea;
}

.slider-women-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47px;
  height: 47px;
  border: none;
  font-size: 21px;
}

.slider-women-left:hover {
  color: #f16d7f;
}

.slider-women-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47px;
  height: 47px;
  border: none;
  font-size: 21px;
}

.slider-women-right:hover {
  color: #f16d7f;
}

.description {
  position: relative;
}

.description-wrap {
  margin-top: -50px;
  background-color: white;
  outline: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-collection {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  margin: 64px 0 0 0;
}

.description-devider {
  height: 3px;
  width: 63px;
  background-color: #ef5b70;
  margin: 12px 0 0 0;
}

.description-chic {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  margin: 12px 0 0 0;
}

.description-text {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin: 48px 0 0 0;
}

.description-price {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
  margin: 32px 0 0 0;
}

.description-line {
  height: 1.01px;
  width: 642px;
  background-color: #eaeaea;
  margin: 64px 0 0 0;
}

.description-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin: 64px 0 0 0;
}

.description-filter-sort {
  margin: 0 0 0 20px;
}

.description-filter-sort-button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.description-filter-sort-button-img {
  margin: 0 0 0 9px;
}

.description-basket {
  width: 212px;
  height: 48px;
  margin: 48px 0 64px 0;
  cursor: pointer;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f26376;
  border: 1px solid #f26376;
  background-color: white;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.description-basket-img {
  margin-left: 24px;
  padding-right: 23px;
  fill: #f26376;
}

.description-basket:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: #f26376;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */