.breadcrumb {
    background-color: #f8f3f4;
    &-wrap {
        height: 148px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 9px;
    }
    &-left {
        &-new {
            text-decoration: none;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            color: #f16d7f;
        }
    }

    &-right {
        &-home {
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #636363;
            text-decoration: none;
        }
        &-arrivals {
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;
            color: #f16d7f;
        }
    }
}

.filter {
    &-wrap {
        margin-top: 51px;
        margin-bottom: 64px;
        display: flex;
        position: relative;
    }
    .filter-text {
        font-family: Lato;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        &-img {
            margin: 0 11px;
        }
    }

    &-left {
        position: absolute;
        z-index: +2;
        &-menu {
            background-color: #ffffff;
            width: 360px;
            left: 0;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            &-conteiner {
                color: #ef5b70;
                &-title {
                    height: 37px;
                    font-family: Lato;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #ef5b70;
                    border-left: 5px solid #ef5b70;
                    border-bottom: 1px solid #ebebeb;
                    display: flex;
                    align-items: center;
                    padding-left: 11px;
                }
                &-title-list {
                    margin: 24px 0 24px 0;
                    list-style-type: none;
                    &-item {
                        margin-left: 33px;
                        margin-top: 11px;
                    }
                    &-link {
                        font-family: Lato;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #6f6e6e;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    &-right {
        display: flex;
        position: absolute;
        z-index: +2;
        margin-left: 34.1%;

        &-trending {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #6f6e6e;
            display: flex;
            
            padding-right: 18px;
            &-vector {
                height: 6px;
                width: 22px;
                margin-top: 7px;
                padding-left: 11px;
            }
        }

        &-size-product {
            width: 79px;
            background-color: #ffffff;
            &-size {
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
                display: flex;
                margin-left: 9px;
                &-vector {
                    height: 6px;
                    width: 22px;
                    margin-top: 7px;
                    padding-left: 11px;
                }
            }
            &-box {
                padding: 7px 0 11px 9px;
                box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
                &-check {
                    margin: 0 0 6px 0;
                }
            }
        }
        &-product-box {
            margin: 20px;

            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        }
        &-prise {
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #6f6e6e;
            display: flex;
            margin-left: 29px;
            &-vector {
                height: 6px;
                width: 22px;
                margin-top: 7px;
                padding-left: 11px;
            }
        }
    }
    summary {
        display: block;
        list-style: none;
    }
}

.pagination {
    &-wrap {
        display: flex;
        justify-content: center;
        margin: 48px 0 96px 0;
    }

    &-list {
        width: 283px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        border: 1px solid #c4c4c4;
        border-radius: 3px;
        padding: 15px;
    }

    &-list-page {
        &-link {
            text-decoration: none;
            font-family: Lato;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #c4c4c4;
            &:hover {
                color: #ef5b70;
            }
        }
    }
}
